.root {
  display: flex;
  position: relative;
  flex: 1;
  --xy-edge-stroke: black;
  --xy-edge-stroke-width: 3px;
  --xy-edge-stroke-selected: blue;
}

.root :global(.react-flow__node) {
  z-index: -1 !important;
}
